<Settings>


  <ExecutablePath>C:\Users\Desur\OneDrive\Рабочий стол\Новая папка\Idea10_v1_Rev25_20231104\Release\Idea10_v1.exe</ExecutablePath>
  <ConfigPath>C:\Users\Desur\OneDrive\Рабочий стол\Новая папка\Idea10_v1_Rev25_20231104\Release\Settings.Config</ConfigPath>
  <WindowName>Idea10_v1 Revision 25</WindowName>
  <NewWindowName>NSA</NewWindowName>
  <WindowSize>240 265</WindowSize>
  <WindowPosition>1690 0</WindowPosition>
  
  
</Settings>
